.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 700px;
  align-items: center;
  margin: auto;
}

.title {
  font-size: 24px;
  color: #333;
}

.button {
  width: 100px;
  color: #333;
}
.greeting {
  width: 70%;
  display: flex;
  background-color: rgb(165, 214, 165);
  min-height: 500px;
  border-radius: 60px;
  margin: auto;
  flex-direction: column;
}
.greetingTitle {
  height: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  margin-inline: 10px;
}
.fullContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.superman {
  height: 30%;
  width: 30%;
  margin: auto;
  display: flex;
}
